.app-view {
    display: flex;
    flex-direction: row;
}
.sidebar {
    flex-shrink: 1;
    background-color: rgb(211, 211, 211);
    overflow: auto;
}

.content {
    flex-grow: 1;
}

.sidebar a {
    display: block;
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
}

.sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}